@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

:root {
	/* Light theme */
	--bg: #f8f9fa;
	--card: #fdfdfc;
	--text: #0d0d0d;
	--subtext: #444444;
	--border: #e4e6eb;
	--accent: #2563eb;
	--highlight: #f59e0b;
}

.dark {
	/* Dark theme */
	--bg: #05060a;
	--card: #1f2937;
	--text: #f2f2f2;
	--subtext: #d1d5db;
	--border: #374151;
	--accent: #3b82f6;
}

body {
	font-family: "Outfit", sans-serif !important;
	letter-spacing: 1px;
	@apply bg-[var(--bg)] text-[var(--text)] transition-colors duration-300;
}
